<%- include("partials/header") %>

<h1>Index Page</h1>

<% blogs.forEach(blog => { %>
    <div>
        <h2> <%= blog.title %> </h2>
        <img style='height: 200px;' src="<%= blog.image %>">
        <span> <%= blog.create %></span>
        <p> <%= blog.body %> </p>
    </div>

<% }) %>

  
<%- include("partials/footer") %>